* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(249, 249, 253);
}

h1 {
    margin-top: 60px;
    font-size: 50px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

h2 {
    font-size: 26px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Philosopher', sans-serif;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Muli', sans-serif;
}

.hero {
    width: 300px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
}

.links {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {
    text-align: center;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: flex-end;
    background-color: cornflowerblue;
    width: 100%;
    padding-right: 15px;
}

.navitem {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    font-size: 16px;
}

.caption {
    margin-top: 8px;
    margin-bottom: 8px;
    color: darkblue;
}

.techIcons {
    height: 40px;
}

#repo-link, #livehost-link {
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
    font-family: inherit;
}

ul {
    font-family: 'Muli', sans-serif;
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.inline-block {
    display: inline-block;
}

button.contact {
    font-family: 'Muli', sans-serif;
    width: 80px;
    height: 45px;
    border: none;
    border-radius: 4px;
    margin: 5px;
    background-color: rgb(84, 207, 131);
    font-size: 16px;
    color: white;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
    background-color: rgb(64, 153, 98);

}


@media screen and (min-width: 700px) {
    p {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    button.contact {
        width: 120px;
        height: 60px;
        
        
    }
}

.caption {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.project-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.project {
    width: 320px;
    height: 600px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;    
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project:hover {
    background-color: rgb(204, 204, 204);
    transform: scale(1.02);
    transition: all 0.5s ease; 
}

@media screen and (min-width: 700px) {
    .project-box {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.contact-info {
    margin-bottom: 30px;
    
}

.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 4px;
}